.projects {
    margin: 0 auto;
    // max-height: 100vh;
    // overflow: scroll;
    position: relative;
    width: 74.3777452416%;
    z-index: 10;
}

.projectsBody {
    // -webkit-box-orient: vertical;
    // -webkit-box-direction: normal;
    // -webkit-box-align: start;
    // -ms-flex-align: start;
    // align-items: flex-start;
    // display: -webkit-box;
    // display: -ms-flexbox;
    // display: flex;
    // -ms-flex-direction: column;
    // flex-direction: column;
    // -ms-flex-wrap: wrap;
    // flex-wrap: wrap;
}